body {
    margin: 0;
}

li {
    list-style: none;
}

.main{
    height:1000px;
}

header {
    padding : 5px 5px;
    background-color: black;
    height : 65px;
    color : white;
    position: fixed;
    top :0;
    z-index : 10;
    width: 100%;
}

.header-logo {
    float : left;
    font-size : 35px;
    padding: 12px 15px;
    border-right : 3px solid white;
    border-radius: 10px;
}

.header-menu li{
    float : left;
    padding: 10px 5px;
    
}

.search  li{
    float : right;
    padding : 10px 10px;
    margin-right: 10px;
}
.search-input {
    width: 120px;
}


.dropbtn {
    background-color: transparent;
    color: white;
    border: none;
    height: 65px;
    width : 80px;
    margin-top: -21px;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: gray;}

footer {
    background-color: #5d6b74;
    color: #fff;
    height: 100px;
    padding: 10px 20px;
}
  
.footer-logo {
    font-size: 32px;
    float:left;
}
  
  
.footer-list{ 
    float :right;
}

.footer-list li{
    padding-bottom: 20px;
}

.copyright p{
    margin-top: 80px;
    border-top:1px solid white ;
}



